@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  font-family: 'Raleway', sans-serif;
  background-image: url(https://i.imgur.com/ARrfyte.jpg);
  background-color: #F4F8F7;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-origin: border-box;
}
h1 {
  font-family: "Montserrat";
  color: #dc3545;
  font-size: 60px;
  font-weight: bold;
  margin: 70px auto;
}

.startShopping {
  font-family: "Montserrat";
  margin: 50px auto;
}
h2 {
  font-family: "Montserrat";
  }
@media only screen and (max-width: 800px) {
    body {
      background-color: #F4F8F7;
      background-image: none;
    }
  }
